@tailwind base;
@tailwind components;
@tailwind utilities;

.body,
html {
  margin: 0;
  padding: 0;
  font-family: "Vazir-Matn", sans-serif;
}

@font-face {
  font-family: "Vazir-Matn";
  src: url("./fonts/vazir/webfonts/Vazirmatn-Medium.woff2") format("woff2");
  /* Add additional font formats if needed */
  font-weight: normal;
  font-style: normal;
}
